[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
numpy = "*"
pandas = "*"
prettytable = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
jupyter = "*"
biosppy = "*"
sklearn = "*"
imbalanced-learn = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
wandb = "*"
torch = "==1.4.0"
torchvision = "==0.5.0"
tensorboard = "*"
# Fix wandb Error
pyyaml = "*"

[dev-packages]
flake8 = "*"
# Temporary workaround until pylint issue 3528 fixed
pylint = "==2.4.4"
mypy = "*"

[requires]
python_version = "3.7"
